* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: #000005;

}

#homepage-hero {
  background-image: url("./assets/landing-image-2-md.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-image-column {
  position: relative;
  cursor: pointer;
}

.gallery-image-title {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  transition-property: opacity;
  transition-duration: 0.4s;
  background-color: #000;
  color: #fff;

}

.gallery-image {
  max-height: 200px;
  min-height: 100%;
  width: 100%;
}

@media only screen and (min-width: 1440px) {
  #homepage-hero {
    background-image: url("./assets/landing-image-2-lg.jpg")
  }

  .gallery-image {
    max-height: 300px;
    min-height: 100%;
  }
}